header
  .progress-container
    #progress-bar.progress-bar
  .container
    input#btn(type='checkbox' name='btn')
    label.menu-btn(for='btn')
      i.fa-solid.fa-bars-staggered
    ul.translate
      li.item 
        a(href="#", onclick="changeLanguage('ar')", class="link") عربي
      span |
      li.item 
        a(href="#", onclick="changeLanguage('en')", class="link") EN
    a(href="index.html", class="logo")
      img(src='assets/images/logo1.webp' alt='logo')
    .menu
      .child
        p(data-translate="nav-title1").name
          | menu
        .items
          a(href=homeLink, data-translate="nav-item1") home
          a(href=aboutLink, data-translate="nav-item2") about
          a(href='services.html', data-translate="nav-item3") Services
          //- a#4(href=featuresLink) features
          //- a#5(href=clientsLink) our clients
          a(href=teamLink, data-translate="nav-item4") our team
          //- a#7(href=meetLink) meet us
          //- a#8(href=opinionsLink) opinions
      .child
        p(data-translate="nav-title2").name
          | get in touch
        .items
          a(href='contact.html', data-translate="nav-item5") contact us
          a(href='hire.html', data-translate="nav-item6") get hired
      .child
        p(data-translate="nav-title3").name
          | get social
        .items
          a(href='https://wa.me/+201015870312', target="_blank") whatsapp
          a(href='https://www.facebook.com/profile.php?id=61556020247187', target="_blank") facebook
          a(href='https://www.linkedin.com/in/oia-media-837a482b4/', target="_blank") linkedin
          a(href='https://www.instagram.com/oiamedia.ar/', target="_blank") instagram
          a(href='https://www.tiktok.com/@oiamedia', target="_blank") tiktok
          a(href='https://twitter.com/oiamedia_', target="_blank") X
          //- a(href='#') twitter